body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f50101;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 50px;
    color: #ffffff;
}

header input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

/* Hauptbereich */
main {
    padding: 55px;
}

.gallery-section {
    margin-bottom: 20px;
}

.gallery-section h2 {
    border-bottom: 10px solid white;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.movie-card,
.series-card {
    flex: 1 1 calc(20% - 10px);
    max-width: calc(20% - 10px);
    /* Maximale Breite pro Karte angepasst */
    background-color: #202020;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card img,
.series-card img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-card:hover,
.series-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(240, 4, 4, 0.7);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #202020;
    border-top: 2px solid white;
}

footer p {
    margin: 0;
    color: white;
}

/* hier ist das Modal: */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 80%;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.modal-content img {
    max-width: 100%;
    border-radius: 5px;
    margin: 15px 0;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #ff0000;
}

.modal-content p {
    font-size: 16px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover {
    color: #ff0000;
}